.error {
    color: rgb(223, 62, 62);
    font-size: 11px;
    position: relative;
    left: 15px;
  }

  .error1 {
    color: rgb(75, 75, 75);
    border-bottom: 1px solid #ff0000;
    position: relative;
    left: 15px;
  }

  .login-btn{
    position: relative;
    left: 30%;
  }